.header{
    margin: 10px 50px 20px 0;
    font: optional;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
}

.lablecsv{
    margin-top: 25px;
    font-size: 20px;
}

.forms {
    display: flex;
    flex-direction: row;  
}

.formBlockOut {
    margin-left: 12px;
}

.formin{
    width: 20%;
    min-width:500px; 
    min-height:200px;
}

.formout{
    width:700px; 
    height: 700px;
}

.descq{
    width: 10%;
    min-width: 350px;
    min-height: 20px;
}

.numint{
    width: 45px;
    height: 20px;
}

.qpage{
    margin: 5px 0  0 20px;
}

.butt{
    margin-top: 10px;
}
